@use postcss-mixins;
@use postcss-simple-vars;
@use postcss-preset-env(stage: 0);

$rlh: 1.618;
$breakpoint: screen and (min-width: 1025px);
$font-family-body: 'Open Sans', sans-serif;
$font-family-title: 'Federo', sans-serif;
$color-red: hsl(351, 63%, 46%);
$color-blue: hsl(221, 66%, 30%);
$color-body-text: hsl(0, 0%, 23%);
$nav-bar-height: 60px;

@define-mixin button {
  appearance: none;
  outline: none;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: top;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  height: 2.5em;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
}

@define-mixin logo-soundhole-img {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: circle(31.5% at 50%);
    background-repeat: no-repeat;
    filter: saturate(.7);
    
    @mixin-content;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: circle(31.5% at 50%);
    background: radial-gradient(circle at 52% 55%, transparent 35%, 50%, white);
    filter: blur(10px);
  }

}

@define-mixin product-card $color-card {
  color: $color-body-text;
  --color-logo-soundhole: $color-card;
  --color-logo-strings: $color-card;
  --color-card-title: $color-card;
  $color-card-shadow: hsla(0, 0%, 60%, .3);
  background: 
    linear-gradient(
      45deg, 
      $color-card-shadow, transparent 37% 57%, $color-card-shadow
    )
    , 
    linear-gradient(
      -45deg, 
      $color-card-shadow, transparent 37% 57%, $color-card-shadow
    )
    ;
  box-shadow: inset -1px -1px 3px hsla(0, 0%, 0%, 0.2);
  border-radius: 8px;
}


/* Set default box-sizing */
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

html {
  background-color: white;
  font-size: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  color: $color-body-text;
  font-family: $font-family-body;
  font-size: 1em;
  font-weight: 400;
  line-height: $rlh;
}

a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    color: #363636;
  }
}


html, body { 
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

section, footer {
  padding: 0 10px;
}

/* Prevent targets from being hidden under navbar */
section:target::before {
  display: block; 
  content: ''; 
  margin-top: calc($nav-bar-height * -1); 
  height: $nav-bar-height; 
  visibility: hidden; 
  pointer-events: none;
}

footer {
  /* Cover the inexplicable gap between content and viewport bottom  */
  padding-bottom: 1px;
  background-color: #545454;
  width: 100%;
}

/* vertical rhythm for block-level elements */
header, section, form, h1, ul, p {
  margin-bottom: calc(1rem * $rlh);
}

.container {
  position: relative;
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 60vh;

}

header {
  position: relative;
}


nav#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  height: $nav-bar-height;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: top 0.3s;
  color: 	$color-body-text;
  background: linear-gradient(
    white 95%,
    $color-red 95.5%
  );

  & .nav-bar-left {
    width: 100%;
    max-width: 150px;
    min-width: 110px;
    height: auto;
    color: inherit;
    & a {
      color: inherit;
      --color-logo-soundhole: $color-red;
      --color-logo-strings: $color-red;
    }
  }

  & .nav-bar-right {
    font-size: 0.8em;
    & ul {
      display: flex;
      margin: 0;
      padding: 0;
      list-style: none;
  
      & li {
        margin-left: 0.8em;
      }
    }
  
    & .nav-link {
      color: inherit;

      &:hover, &:focus {
        color: $color-red;
      }
      
    }
  }
}

.hero-video {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: calc(45vh - $nav-bar-height);
  margin-top: $nav-bar-height;
  height: 45vh;
  min-height: 240px;
  background: linear-gradient(
    transparent 50%,
    hsla(351, 63%, 46%, .6)
  ), white;

  & .hero-title {
    position: absolute;
    width: 70%;
    color: $color-body-text;
    --color-logo-soundhole: $color-red;
    --color-logo-strings: $color-red;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  & .video-container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
 
    & video {
      display: block;
      height: 100%;
      width: 100%;
      background-position: center;
      object-fit: cover;
      object-position: 50% 50%;
      filter: saturate(0) brightness(1.2) opacity(.25);
    }
  }

  @media (min-width: 768px) {
    height: calc(100vh - $nav-bar-height);
    max-height: calc(100vh - $nav-bar-height);
    /* height: 100vh; */
    /* max-height: 100vh; */
    min-height: 300px;
  }

}

.section-title {
  font-family: $font-family-title;
  color: $color-blue;
  text-align: center;
}

.artist {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & .artist-img {
    $img-cristos: url("https://live.staticflickr.com/5103/5676875263_2fd6328a8f.jpg");
    $img-gabrielab: url("https://live.staticflickr.com/4473/37694010252_4358929aeb_c.jpg");
    $img-jasonm: url("https://live.staticflickr.com/3691/12256046533_1ce12441be_c.jpg");
    $img-juanr: url("https://live.staticflickr.com/65535/48994864191_4a523436de.jpg");
    $img-luisr: url("https://live.staticflickr.com/2817/11186848285_1a9fed5ab2_z.jpg");
    $img-rebeccap: url("https://live.staticflickr.com/7359/11476390335_b3b77fa3b5.jpg");
    $img-eduardof: url("https://live.staticflickr.com/4500/37677776826_27f75ea5b9.jpg");
    position: relative;
    height: auto;
    width: 80%;
    margin-bottom: 5%;
    --color-logo-soundhole: $color-red;
    --color-logo-strings: $color-red;

    @media (min-width: 768px) {
      max-width: 350px;
    }

    &.img-cristos {
      @mixin logo-soundhole-img {
        background-image: $img-cristos;
        background-position: right bottom 115%;
        background-size: 95%;
      }
    }
    &.img-gabrielab {
      @mixin logo-soundhole-img {
        background-image: $img-gabrielab;
        background-position: center bottom 20%;
        background-size: 235%;
        
      }
    }
    &.img-jasonm {
      @mixin logo-soundhole-img {
        background-image: $img-jasonm;
        background-position: right 40% bottom 60%;
        background-size: 201%;
        
      }
    }
    &.img-juanr {
      @mixin logo-soundhole-img {
        background-image: $img-juanr;
        background-position: center top 115%;
        background-size: 101%;
        
      }
    }
    &.img-luisr {
      @mixin logo-soundhole-img {
        background-image: $img-luisr;
        background-position: left 38% top 105%;
        background-size: 125%;
        
      }
    }
    &.img-rebeccap {
      @mixin logo-soundhole-img {
        background-image: $img-rebeccap;
        background-position: right 37% bottom 185%;
        background-size: 69%;
        
      }
    }
    &.img-eduardof {
      @mixin logo-soundhole-img {
        background-image: $img-eduardof;
        background-position: left 60% bottom 161%;
        background-size: 157%;
      }
    }
  }
  
  & .artist-quote {
    font-style: italic;
    & p {
      margin: 0;
      text-align: center;
    }
    & p:last-of-type {
      text-align: center;
    }
  }

  @media (min-width: 376px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;

    & .artist-img {
      width: 35%;
      margin: 0;
    }

    & .artist-quote {
      margin: auto;
      width: 60%;
    }
  }

}

.fade {
  animation-name: fade-in;
  animation-duration: 1s;
}

@keyframes fade-in {
  from {opacity: .8}
  to {opacity: 1}
}

.product-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  $red-card: hsl(346, 100%, 43%);
  $blue-card: hsl(203, 100%, 40%);
  $purple-card: 	hsl(248, 31%, 52%);

  & .card {
    position: relative;
    width: 80%;
    height: auto;
    &:not(:last-of-type) {
      margin-bottom: 6%;
    }
    
    &.tension-normal{
      @mixin product-card $red-card;
    }

    &.tension-hard{
      @mixin product-card $blue-card;
    }

    &.tension-xhard{
      @mixin product-card $purple-card;
    }

  }

  @media (min-width: 376px) {
    flex-direction: row;

    & .card:not(:last-of-type) {
      margin-bottom: 0;
      margin-right: 3%;
    }
  }
}

section#connect p {
  text-align: center;
}

.form-connect {
  width: 100%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  

  & input#email {
    appearance: none;
    outline: none;
    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: inset 0 0.0625em 0.125em hsla(0, 0%, 4%, 0.05);

    background-color: hsl(0, 0%, 97%);
    border-color: hsl(0, 0%, 86%);
    color: hsl(0, 0%, 21%);

    padding-bottom: calc(0.5em - 1px);
    padding-left: calc(0.75em - 1px);
    padding-right: calc(0.75em - 1px);
    padding-top: calc(0.5em - 1px);

    margin-bottom: 1em;

    &:hover {
      border-color: hsl(0, 0%, 71%);
    }
  
    &:focus {
      border-color: hsl(221, 66%, 30%);
      box-shadow: 0 0 0 0.125em hsla(221, 66%, 30%, 0.25);
    }
    
  }

  & input#submit {
    @mixin button;
    margin: auto;
    cursor: pointer;
    color: white;
    background: $color-red;
    transition: all .2s;
    &:hover {
      background: hsl(351, 63%, 50%);
    }
  }
}


footer {
  color: white;
  & .image-attributions {
    padding-top: 1rem;
    font-size: 0.7rem;
    font-style: italic;
    & a {
      color: hsl(0, 0%, 80%);
      &:hover {
        color: hsl(0, 0%, 90%);
      }
    }
  }
}



#custom_fcc_foldout_toggler {
  @mixin button;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 500;
  display: none;
  cursor: pointer;
  color: hsl(0, 0%, 70%);
  background: hsla(0, 0%, 0%, .7);
  transition: all .2s;

  & svg {
    height: 1.1em;
    margin-right: 0.5ch;
  }

  &:hover, &:active {
    color: white;
  }

  &.is-open {
    color: hsl(120, 100%, 50%);
  }

  @media $breakpoint {
    display: inline-flex;
  }
}
