@use postcss-mixins;
@use postcss-simple-vars;
@use postcss-preset-env(stage: 0);

$rlh: 1.618;
$breakpoint: screen and (min-width: 1025px);
$primary-font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
$color-body-text: hsl(227, 12%, 85%);
$color-new-fcc-toggler-btn-bg: hsl(227, 12%, 30%);

$filter-examples: blur(5px) brightness(0.4) contrast(200%) drop-shadow(16px 16px 20px blue) grayscale(50%) hue-rotate(90deg) invert(75%) opacity(25%) saturate(30%) sepia(60%);




@define-mixin button {
  appearance: none;
  outline: none;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  vertical-align: top;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  height: 2.5em;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  padding-bottom: calc(0.5em - 1px);
  padding-left: calc(0.75em - 1px);
  padding-right: calc(0.75em - 1px);
  padding-top: calc(0.5em - 1px);
}

@define-mixin logo-soundhole-img {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    clip-path: circle(31.5% at 50%);
    background-repeat: no-repeat;
    filter: sepia(.5);
    
    @mixin-content;
  }
}

*, ::before, ::after {
  box-sizing: border-box;
}

html {
  line-height: $rlh;
}

html, body { 
  min-height: 100%;
}

body {
  font-family: $primary-font-family;
  /* font-size: 100%;
  margin: 0; */
}

/* vertical rhythm for block-level elements */
h1, h2, ul, ol, p,
pre {
  margin-bottom: calc(1rem * $rlh);
}

a {
  text-decoration: none;
}

header {
  position: relative;
  /* height: 100vh; */
}

nav#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 5px 10px;
  top: 0;
  left: 0;
  /* min-height: 50px; */
  width: 100%;
  background: hsla(0, 0%, 0%, .7);
  z-index: 100;
  transition: top 0.3s;
  /* line-height: 2; */
  color: white;

  & .nav-bar-left {
    /* display: flex; */
    /* align-items: center; */
    width: 100%;
    max-width: 200px;
    height: auto;
    & a {
      color: white;
    }
    /* & > img {
      display: none;
    } */
  }

  & ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & .nav-link {
    color: inherit;
  }

}

.hero-video {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  /* use margin if top menu above */
  /* margin-top: 65px;
  height: calc(45vh - 65px); */
  height: 45vh;
  min-height: 240px;
  /* background: #000; */

  & .video-container {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;

    & video {
      display: block;
      height: 100%;
      width: 100%;
      background-position: center;
      object-fit: cover;
      object-position: 50% 50%;
      filter: sepia(100%) brightness(200%) blur(0px) opacity(20%);
      /* transition: filter .35s ease-in-out; */
    }
  }

  @media (min-width: 768px) {
    /* use margin if top menu above */
    /* height: calc(100vh - 65px);
    max-height: calc(100vh - 65px); */
    height: 100vh;
    max-height: 100vh;
    min-height: 300px;
    
    /* background: linear-gradient(to top,#525252,#333); */
  }

}

section, footer {
  padding: 0 10px;
}

.testimonial-container {
  margin: 20px 0 20px 0;
}

.testimonial {
  display: none;
  flex-direction: column;
  width: 90%;
  margin: 0 auto 0 auto;
  justify-content: center;
  align-items: center;

  @media (min-width: 376px) {
    margin: 0 auto 0 auto;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  & .testimonial-img {
    $img-cristos: url("https://live.staticflickr.com/5103/5676875263_2fd6328a8f.jpg");
    $img-gabrielab: url("https://live.staticflickr.com/4473/37694010252_4358929aeb_c.jpg");
    $img-jasonm: url("https://live.staticflickr.com/3691/12256046533_1ce12441be_c.jpg");
    $img-juanr: url("https://live.staticflickr.com/65535/48994864191_4a523436de.jpg");
    $img-luisr: url("https://live.staticflickr.com/2817/11186848285_1a9fed5ab2_z.jpg");
    $img-rebeccap: url("https://live.staticflickr.com/7359/11476390335_b3b77fa3b5.jpg");
    $img-eduardof: url("https://live.staticflickr.com/4500/37677776826_27f75ea5b9.jpg");
    /* display: inline-block; */
    /* float: left; */
    position: relative;
    height: auto;
    width: 100%;
    max-width: 200px;

    /* box-sizing: content-box;
    height: 0.1px;
    padding-bottom:87.61%;
    overflow:visible;  */
    
    /* shape-outside: url(#svg-card-logo); */
    margin-right: 20px;
    --color-logo-soundhole: hsl(51, 100%, 23%);
    --color-logo-strings: hsl(51, 100%, 43%);

    &.img-cristos {
      @mixin logo-soundhole-img {
        background-image: $img-cristos;
        background-position: right bottom 115%;
        background-size: 95%;
      }
    }
    &.img-gabrielab {
      @mixin logo-soundhole-img {
        background-image: $img-gabrielab;
        background-position: center bottom 20%;
        background-size: 235%;
        
      }
    }
    &.img-jasonm {
      @mixin logo-soundhole-img {
        background-image: $img-jasonm;
        background-position: right 40% bottom 60%;
        background-size: 201%;
        
      }
    }
    &.img-juanr {
      @mixin logo-soundhole-img {
        background-image: $img-juanr;
        background-position: center top 115%;
        background-size: 101%;
        
      }
    }
    &.img-luisr {
      @mixin logo-soundhole-img {
        background-image: $img-luisr;
        background-position: left 38% top 105%;
        background-size: 125%;
        
      }
    }
    &.img-rebeccap {
      @mixin logo-soundhole-img {
        background-image: $img-rebeccap;
        background-position: right 37% bottom 185%;
        background-size: 69%;
        
      }
    }
    &.img-eduardof {
      @mixin logo-soundhole-img {
        background-image: $img-eduardof;
        background-position: left 60% bottom 161%;
        background-size: 157%;
        /* filter: contrast(70%) brightness(1.2) invert(0%) saturate(50%) hue-rotate(0deg) sepia(100%); */
        /* filter: brightness(1.5) contrast(80%) saturate(80%) sepia(100%); */
        
      }
    }
  }
  
  & .testimonial-quote {
    margin: auto 0 auto 0;
    max-width: 400px;
    & p {
      margin: 0;
      margin-top: 20px;
      /* margin-bottom: 0; */
    }
    & p:last-of-type {
      margin-top: 0;
      text-align: right;
    }
  }
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@define-mixin product-card $color-card {
  /* --color-logo-soundhole: hsla(51, 100%, 95%, 1); */
  --color-logo-soundhole: $color-card;
  /* --color-logo-strings: url(#gradient-strings); */
  --color-logo-strings: $color-card;
  --color-card-subtitle: hsla(51, 100%, 13%, 0.8);
  --color-card-footer: hsla(51, 100%, 13%, 0.8);
  --color-card-title: $color-card;
  $color-card-shadow: hsla(51, 100%, 13%, .2);
  /* $color-card-shadow: hsla(0, 0%, 0%, .9); */
  background: 
    linear-gradient(
      57deg, 
      $color-card-shadow, transparent 37% 57%, $color-card-shadow
    ), 
    linear-gradient(
      -45deg, 
      $color-card-shadow, transparent 37% 57%, $color-card-shadow
    );
    /* radial-gradient(circle at 50.1% 56.5%, transparent 0%, $color-card 34%, $color-card-shadow 34.5%, transparent 37%); */
  background-color: hsla(51, 100%, 95%, 1);
  box-shadow: inset -1px -1px 3px hsla(0, 0%, 0%, 0.2);
  border-radius: 8px;
}

.product-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  $red-card: 	hsl(358, 84%, 58%);
  $blue-card: hsl(197, 93%, 44%);
  $purple-card: 	hsl(248, 31%, 59%);
  /* $red-card: 	hsl(358, 84%, 78%);
  $blue-card: hsl(197, 93%, 64%);
  $purple-card: 	hsl(248, 31%, 79%); */


  & .card {
    position: relative;
    /* display: inline-block; */
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: 1em;
    /* outline: 1px solid red; */
    

    &.tension-normal{
      @mixin product-card $red-card;
    }

    &.tension-hard{
      @mixin product-card $blue-card;
    }

    &.tension-xhard{
      @mixin product-card hsla(248, 31%, 59%);
    }

  }
}

.row {
  display: flex;
}

.svg-test-container {
  margin: 10px;
  height: auto;
  width: 100%;
  max-width: 512px;
  outline: 1px solid red;
  &.symbols1 {
    --color-card-title: red;
    --color-card-subtitle: green;
    --color-logo-soundhole: blue;
    --color-logo-strings: gray;
    --color-card-footer: orange;
  }
  &.symbol-logo {
    --color-logo-strings: url(#gradient-strings);
    /* background-image: linear-gradient(-30deg, black, gray, black); */
  }

}

.image-attributions {
  margin-bottom: 100px;
  --color-icon-cc-fill: white;
  --color-icon-cc: black;
}



#custom_fcc_foldout_toggler {
  @mixin button;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 500;
  display: none;
  cursor: pointer;
  color: $color-body-text;
  background: $color-new-fcc-toggler-btn-bg;
  transition: all .2s;

  & svg {
    height: 1.1em;
    fill: currentColor;
    margin-right: 0.5ch;
  }

  &:hover, &:active {
    color: white;
  }

  &.is-open {
    color: hsl(120, 100%, 50%);
  }

  @media $breakpoint {
    display: inline-flex;
  }
}

